<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new park</title>
  </head>
  <body>
    <h1>Add new park</h1>
    <form method="POST" action="/parks">
      <label for="title">Title</label>
      <input type="text" id="title" name="park[title]" />
      <label for="location">Location</label>
      <input type="text" id="location" name="park[location]" />
      <button>Add</button>
    </form>
  </body>
</html>
